@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*, body, body::after, body::before {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --dikke-font: 700;
    --inter-font: "Inter", sans-serif;
    --bgcolor: #E6E7E9;
    --fontkleur: #1E1E1E;
    --rood: #E94544;
    --groen: #3FFD55;
}

body {
    font-family: var(--inter-font);
    background-color: var(--bgcolor);
    color: var(--fontkleur);
}


header  {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

header {
   & h3 {
        font-size: 2.5rem;
        font-weight: var(--dikke-font);
        text-transform: capitalize;
        grid-column: 2;
        grid-row: 2;
        position: relative;
        display: flex;
        height: fit-content;
}

    & h3::before {
         content: "";
         background-color: var(--groen);
         position: absolute;
         height: 1.7rem;
         width: 12rem;
         bottom: .4rem;
         z-index: -1;
    }
}

/* MARK: Header */
header nav {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

header nav {
    & h1, & h2 {
        font-weight: var(--dikke-font);
        text-transform: capitalize;
        position: relative;
        display: flex;
        height: fit-content;
        line-height: 1.2;
    }

    & h1 {
        font-size: 1rem; 
        grid-column: 2;

    }

    & h2 {
        font-size: 1rem; 
        grid-column: 2;
        grid-row: 2;
        margin-left: 30px;
    }


    & h1::before, & h2::before {
        content: "";
        background-color: var(--rood);
        position: absolute;
        z-index: -1;
        height: 0.5rem; 
        bottom: .2rem;
    }

    & h1::before {
        width: 3.5em;
    }

    & h2::before {
        width: 4.7em; 
    }
}

.gedicht {
    font-size: .3rem;
    margin-left: 2rem;
    margin-top: -3rem;
    max-height: 8rem;
    
}

.gedicht img{
    width: 10rem;
    position: relative;
    top: -7rem;
    z-index: -1;
}

/* TABLET (1.5x) */
@media screen and (min-width: 786px){
    header nav {
        width: 100%;
        grid-template-columns: repeat(16, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    
     header h3 {
        font-size: 3.75rem;
    }

    header h3::before {
        height: 2.55rem;
        width: 18rem;
        bottom: 0.6rem;
    }

     /* H1 */
    header nav h1 {
        font-size: 1.5rem;
    }

    header nav h1::before {
        height: 0.75rem;
        bottom: 0.3rem;
        /* width blijft 3.5em */
    }

    /* H2 */
    header nav h2 {
        font-size: 1.5rem;
    }

    header nav h2::before {
        height: 0.75rem;
        bottom: 0.3rem;
        /* width blijft 4.7em */
    }
   
    .gedicht {
        font-size: .63rem;
        margin-left: 30px;
        margin-top: -4.5rem;
    }

     .gedicht img {
        width: 27rem;
        top: -14rem;
    }
}



/* DESKTOP (2x) */
@media screen and (min-width: 1024px) {
    header h3 {
        font-size: 5rem;
    }

    header h3::before {
        height: 3.4rem;
        width: 24rem;
        bottom: 0.8rem;
    }


      /* H1 */
    header nav h1 {
        font-size: 2rem;
    }

    header nav h1::before {
        height: 1rem;
        bottom: 0.4rem;
    }

    /* H2 */
    header nav h2 {
        font-size: 2rem;
    }

    header nav h2::before {
        height: 1rem;
        bottom: 0.4rem;
    }

    .gedicht {
        font-size: .75rem;
        margin-left: 40px;
        margin-top: -6rem;
    }

    .gedicht img {
        width: 36rem;
        top: -17rem;
    }
}



.floater {
    display: grid;
    grid-template-columns: repeat(2);
    grid-template-rows: repeat(4);

    & .klaus  {
        grid-column: 3;
        grid-row: 1;
        position: relative;
        display: flex;
        
    }

    & .typo  {
        grid-column: 2;
        grid-row: 2;
        position: relative;
        display: flex;
        
    }

    & .fungi {
         grid-column: 3;
        grid-row: 3;
        position: relative;
        display: flex;
        

    }
}


.floater img  {
    max-width: 100%;
}



footer img {
    max-width: 50vw;
    display: hidden;
    
}


